<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lightwebviewsdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize">
        <activity
            android:name=".WebviewActivity"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>

</manifest>